@font-face {
    font-family: "Inter";
    src: url("./assets/fonts/inter.ttf");
}

/* Resets */

* {
    /* "Test" for when the thing doesn't do the thing */
    /* outline: 1px solid black; */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button {
    background: none;
    border: none;
    font-size: inherit;
}

a {
    text-decoration: none;
    color: inherit;
}

/* Styles */

html {
    font-family: Inter;
    /* variables */
    /* colors */
    --clr-0: #f5f7fa;
    --clr-1: #e5e5e5;
    --clr-2: #e6eff5;
    --clr-3: #2d60ff;
    --clr-4: #718ebf;
    --clr-5: #fe5c73;
    --clr-6: #343c6a;
    /* sizes */
    --text-sm: 1.125rem;
    --text-xl: 1.75rem;
}

body {
    display: flex;
    background-color: var(--clr-1);
}

main {
    width: 100%;
}

/* ------------- Main panel ------------- */

/* Aside navigation */
aside.main_panel {
    padding-top: 3rem;
    padding-left: 2.6rem;
    padding-right: 3.6rem;
    min-height: 100vh;
    background-color: var(--clr-0);
    border-right: 3px solid var(--clr-2);
}

aside.main_panel nav ul {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
}

aside.main_panel nav ul li {
    display: flex;
    align-items: center;
    font-size: var(--text-sm);
}

aside.main_panel nav ul li a {
    display: flex;
    gap: 1.625rem;
    color: var(--clr-3);
    padding: 0.2rem;
}

aside.main_panel nav ul li.disabled a {
    filter: grayscale(100);
    opacity: 0.4;
}

.development,
.development * {
    cursor: url("assets/cursors/cursor_development.png") 55 12, auto;
    pointer-events: painted;
}

aside.main_panel nav ul li .current_page_decoration {
    position: absolute;
    left: 0;
    width: 0.6rem;
    height: 4rem;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    background-color: var(--clr-3);
}

/*-- Header Panel --*/
header.main_panel {
    display: flex;
    justify-content: space-between;
    padding-block: 2rem;
    padding-inline: 3rem;
    background-color: var(--clr-0);
    border-bottom: 2px solid var(--clr-2);
}

header.main_panel h1 {
    display: flex;
    align-items: center;

    font-size: var(--text-xl);
    font-weight: 600;
    color: var(--clr-6);
}

header.main_panel .header_icons {
    display: flex;
    gap: 0.875rem;
}

header.main_panel .header_icons button {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 3.125rem;
    width: 3.125rem;

    border-radius: 50%;
    background-color: var(--clr-1);
}

header.main_panel .header_icons .no-notification path {
    fill: var(--clr-4);
}

header.main_panel .header_icons .has-notification path {
    fill: var(--clr-5);
}

#idCloseMenuBtn {
    display: none;
}

#idOpenMenuBtn {
    display: none;
}

.development_message {
    display: none;
}

/* Mobile ajusts, yeah im not a mobile first guy */
/* 63.9375 == 1023px / desktop starts at 1024px */
@media (max-width: 63.9375rem) {
    aside.main_panel[data-state="0"] {
        display: none;
    }

    aside.main_panel {
        position: absolute;
        z-index: 100;
        min-height: 100dvh;

        padding-top: 8rem;
    }

    .development_message {
        display: block;
        position: fixed;
        z-index: 120;
        bottom: 0;

        left: 50%;
        transform: translateX(-50%);

        margin-bottom: 1rem;
        background-color: var(--clr-0);
        padding-block: 1rem;
        padding-inline: 1.5rem;
        border-radius: 1.5rem;
        border: 2px solid var(--clr-6);

        animation: fade-out 4s ease-in-out forwards;
    }

    #idHeaderSettingsBtn {
        display: none;
    }

    #idOpenMenuBtn {
        display: block;
        cursor: pointer;
        transform: scale(1.4);
    }

    #idCloseMenuBtn {
        display: block;
        position: absolute;
        z-index: 110;
        top: 0;
        left: 0;

        margin-left: 3.1rem;
        margin-top: 3rem;
        transform: scale(1.55);
        cursor: pointer;
    }
}

@media (max-width: 26rem) {
    header.main_panel h1 {
        display: none;
    }
}

@keyframes fade-out {
    0% {
        opacity: 0%;
    }

    25% {
        opacity: 100%;
    }

    100% {
        opacity: 0%;
    }
}
