/* Calc Date */
#idCalcDate {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#idNotificationDate,
#idCategory,
#idTerm {
    background-color: var(--clr-2);
    border-radius: 3.125rem;
    border: none;
    width: 12.5rem;

    padding: 0.65rem 1.75rem;
    font-size: 1rem;
    color: var(--clr-4);
}

#idCategory {
    appearance: none;
}

.arrow_icon {
    position: absolute;
    right: 0;
    pointer-events: none;
    padding-right: 1.9rem;
}

.day_text {
    position: absolute;
    color: var(--clr-4);
    right: 0;
    margin-right: 8rem;
    pointer-events: none;
}


.day_text.ml_1 {
    margin-right: 7.5rem;
}

.day_text.ml_2 {
    margin-right: 6.8rem;
}

