.align_inputs_with_labels {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 3.25rem;
}

.not_visible {
    opacity: 0;
}

.green {
    color: var(--clr-7) !important;
    border: 2px solid var(--clr-7) !important;
}